<%- include("headertwo") -%>


<br>

  <h1 class=" col-md-8  col-xs-12" > <strong style= "color:	navajowhite" >ABOUT PAGE</strong></h1>

<div >
  <p style="margin: 10em 1em ;color:darkblue;border-style: solid;padding:10px">  <b style="color:yellow"> RANDOM  </b>is a website for all the people <b style="color:black"> interested in knowing</b> about different devices and latest trend in the market.Built all by <strong>Mr.Damodar</strong> You can      <b style="color:black">   even   sugest  Ideas through</b>   the below mentioned Social media handles. <b style="color:black"> Have  a GOOD DAY!!!</b> </p>
</div>


<img src="./mobile.gif" alt="mobile" style = "width:25em;height:25em">
<img src="./laptop.gif" alt="mobile" style = "width:26em;height:26em">
<img src="./gaming.gif" alt="mobile" style = "width:20em;height:20em">
<img src="./sneakers.gif" alt="mobile" style = "width:22em;height:22em">

<br>
<br>
<!-- <input type="button" class="aboutbutton" value="HOME"            about   class="center"> -->
<!--
<a class="aboutbutton aboutbottom" href="/"  style="text-decoration: none;">HOME</a> -->

<%- include("footer") -%>
<!-- <a href="#"></a> -->
