<%- include("header") -%>

<!--

 -->





<div class="detailsbutton" >





<a href="/mobile" class="buttondetail">MOBILES</a>
<!-- <img src="https://media.giphy.com/media/vaOPkFL89X5AY/giphy.gif" alt="sneakers" style = "width:6em;height:6em"> -->
<!-- <img src="./mobile.gif" alt="mobile" style = "width:6em;height:6em"> -->

 <a href="/laptop" class="buttondetail">LAPTOPS</a>
 <!-- <img src="./laptop.gif" alt="mobile" style = "width:6em;height:6em"> -->

   <a href="/gaming" class="buttondetail">GAMING</a>
  <!-- <img src="./gaming.gif" alt="mobile" style = "width:6em;height:6em"> -->
   <a href="/sneakers" class="buttondetail">SNEAKERS</a>
   <!-- <img src="./sneakers.gif" alt="mobile" style = "width:10em;height:6em;margin:2em"> -->


<br><br><br><br><br><br><br><br><br><br>





</div>




 <a class="aboutbuttondetail" href="/"  style="text-decoration: none;">HOME</a>
<%- include("footer") -%>
<!-- <a href="#"></a> -->
