<%- include("header") -%>


<br>

  <h1 class=" col-md-8  col-xs-12" > <strong style= "padding:1em ;color : white " >Incorrect Input!</strong></h1>

<div >
  <p style="margin: 10em 10em;   border: 1em solid #73AD21 ; padding:1em">  <b style="color:yellow"> RANDOM  </b>is a website for all the humans <b style="color:black"> interested in knowing</b> about different devices and latest trend in the market.Built all by <strong>Mr.Damodar</strong> You can      <b style="color:black">   even   sugest  Ideas through</b>   the below mentioned Social media handles. <b style="color:black"> Have  a GOOD DAY!!!</b> </p>
</div>

<br>
<br>
<!-- <input type="button" class="aboutbutton" value="HOME"            about   class="center"> -->
<!--
<a class="aboutbutton aboutbottom" href="/"  style="text-decoration: none;">HOME</a> -->

<%- include("footer") -%>
<!-- <a href="#"></a> -->
