<%- include("header") -%>


<div class="hero-text">
  <h1  style="font-size:90px; color:#DCDCDC ;font-family: cursive;">RANDOM</h1>
  <h1   style ="color:black ;font-size:50px " > WE MAKE IT HAPPEN !</h1>
  <br>
  <br>
  <br>

<!-- <input type="button"  value="HOME"> -->
<a class="frontbuttonone" href="/about" style="text-decoration: none;">ABOUT</a>
<br><br><br><br><br>
<a class="frontbuttontwo" href="/login" style="text-decoration: none;">LOGIN</a>
<br><br><br><br><br>
<a class="frontbuttonthree" href="/register" style="text-decoration: none;">REGISTER</a>


</div>


<%- include("footer") -%>
