<%- include("headertwo") -%>


<br>

  <h1 class=" col-md-8  col-xs-12" > <strong style= "padding:1em;color:	navajowhite"  >Terms and Conditions </strong></h1>

<div >
  <p style="margin: 10em 1em; border-style: inset; solid balck ;color:blue">  <b style="color:yellow"> RANDOM  </b>is a website for all the humans <b style="color:black"> interested in knowing</b> about different devices and latest trend in the market.Built all by <strong>Mr.Damodar</strong> You can      <b style="color:black">   even   sugest  Ideas through</b>   the below mentioned Social media handles. <b style="color:black"> Have  a GOOD DAY!!!</b>  <br>  <b style="color:white"> Please read these terms of service  carefully before using [website] website </b> <br><br> <strong style="color:yellow">CONDITIONS</strong> <br>Content published on this website (digital downloads, images, texts, graphics, logos) is the property of [name] and/or its content creators and protected by international copyright laws. The entire compilation of the content found on this website is the exclusive property of [name], with copyright authorship for this compilation by [name]. <br><br><strong style="color:yelow"> </strong>

      <br>
      <strong style="color:yellow">User Account</strong><br> <b style="color:white">If you are an owner of an account on this website, you are solely responsible for maintaining the confidentiality of your private user details (username and password). You are responsible for all activities that occur under your account or password.

We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.</b>
      <br><br>
    <strong style="color:yellow">Privacy Policy</strong> <br> <b style="color:white">Before you continue using our website we advise you to read our privacy policy [link to privacy policy] regarding our user data collection. It will help you better understand our practices.
</b>
 </p>

</div>




<br>
<br>
<!-- <input type="button" class="aboutbutton" value="HOME"            about   class="center"> -->
<!--
<a class="aboutbutton aboutbottom" href="/"  style="text-decoration: none;">HOME</a> -->

<%- include("footer") -%>
<!-- <a href="#"></a> -->
